<app-header></app-header>

<html>

<div class="back">

<div class="present">
<div class="slideshow-container">

  <p class="texte">Gîte Le Mas sur le rocher</p>

    <p>Je vous propose un charmant gîte appartement de 85m2 au 1er étage
      d&#39;un vieux mas cévenol rénové, avec son entrée indépendante, classé 3
      étoiles *** pour 4 personnes par le label Etoiles de France du Ministère
      Chargé du Tourisme.<br> J&#39;ai choisi de faire classer mon gîte en 3*** afin de
      garder la convivialité qui me ressemble, avec néanmoins un niveau
      d&#39;équipement que je laisse à disposition, équivalent à un classement
      4****, pour offrir à mes hôtes un séjour tout confort inoubliable. Le gîte
      peut accueillir 4 adultes et 2 enfants (idéalement de 4 à 13 ans)
      maximum.<br><br>

      Situé dans le village de Molières sur Cèze (Nord Gard), à 6km de Saint
      Ambroix (cité médiévale), dans les Cévennes, limite Ardèche et Lozère.
      Idéal pour se ressourcer, randonner, visiter la région (de très
      nombreuses visites et balades à proximité), au calme mais non isolé,
      vous pourrez profiter de la beauté des lieux.<br>
      Je suis au regret de ne pouvoir accueillir les personnes à mobilité réduite
      (pas d&#39;accès PMR), du fait de nombreuses marches.
      Les lieux ne sont pas adaptés à nos amis les animaux (propriété non
      clôturée entièrement).</p>
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img [src]="cheminImage" style="width: 100%;">
      <div class="text">Chambre Provençale lit 180</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img [src]="cheminImage2" style="height: 50%;" style="width: 100%;">
      <div class="text">Chambre Cévennes 2 lits 90 ou 1 lit 180</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img [src]="monolit" style="width:100%">
      <div class="text">salle d'eau</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img [src]="cheminImage3" style="width:100%">
      <div class="text">Espace mansardé</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img [src]="pisc" style="width:100%">
      <div class="text"> Cuisine entièrement équipée</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img [src]="piscine" style="width:100%">
      <div class="text"> Salon</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img [src]="boul" style="width:100%">
      <div class="text">Accès gîte indépendant au 1er étage du mas</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img [src]="vue" style="width:100%">
      <div class="text">Vue depuis la chambre Cévennes</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>

    </div>
    <br>

    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
      <span class="dot" onclick="currentSlide(6)"></span>
      <span class="dot" onclick="currentSlide(7)"></span>
      <span class="dot" onclick="currentSlide(8)"></span>
    </div>
    <img class="cuisine" [src]="cuisine"><br>
    <p>Le gîte dispose de 2 grandes chambres et un espace mansardé :<br>
      - la chambre Provençale avec un lit en 180<br>
      - la chambre Cévenole avec 2 lits 90 (possibilité en 1 lit 180)<br>
      - et un espace mansardé accessible depuis le salon avec 2 lits en 90.<br>
      Vous y trouverez aussi une cuisine entièrement équipée (lave vaisselle,
      cafetière et expresso, four, plaques vitrocéramiques et hotte, combiné
      frigo et congélateur, micro-onde, bouilloire, auto-cuiseur, aspirateur et
      tous les ustensiles, vaisselle et produits d&#39;entretien…).<br><br>

      Vous y trouverez aussi une salle d&#39;eau avec douche et toilettes ainsi
      qu&#39;un salon cosy avec canapé d&#39;angle et TV grand écran connectée
      (android internet et chaînes TNT), lecteur bluray, nombreux dvd, livres et
      documentations à disposition (y compris en anglais).<br>
      Internet et wifi gratuit</p>
    <img class="salon" [src]="salon"><p style="text-align: left;">
      <br><br>Une machine à laver réservée au gîte est à votre disposition avec
      étendoir.<br>
      Selon la saison, vous avez aussi accès à la cuisine d&#39;été équipée
      également (frigo avec compartiment congélateur, plaques gaz, lave-
      vaisselle, cafetière …) ainsi que son barbecue en pierres et sa terrasse
      de 30m2 avec table et salon de jardin ;<br>
      à la piscine 8x4 (non chauffée), ses transats, et son pool house ;<br>
      et au boulodrome 12m X 4m pour les amateurs de pétanque.<br>
      Le jardin à votre disposition a une superficie de 1200m2.<br><br>
      Parking privatif sur la propriété pour 2 voitures. <br>

    <img class="cEte" [src]="cEte">
    <img class="tEte" [src]="tEte">
    <img class="jardin" [src]="jardin"></p>
    <p>&nbsp;
      <br><br><br><br><br>Propriétaire résidant sur place, je reste discrète mais disponible en cas
      de besoin ou renseignements et je m&#39;occupe de l&#39;entretien du jardin et
      de la piscine pour votre confort et votre sérénité.<br> De même, à votre
      arrivée, les lits seront faits et vous disposerez de 2 serviettes de toilettes
      par personne.<br>
      L&#39;endroit se prête au calme et à la détente, il n&#39;est pas propice aux fêtes
      (anniversaires, enterrement de vie de jeune fille ou garçon,…).<br> Le gîte
      n&#39;est pas adapté pour l&#39;organisation de fêtes ou d&#39;événements.<br>
      Matériel pour bébé (table à langer, baignoire, transat, chaise haute, lit
      parapluie) sur demande.<br>

      Conditions d&#39;accueil :<br>
      L&#39;arrivée est prévue à partir de 17h.<br>
      La caution pour le gîte est fixée à 700€ (chèque non encaissé et restitué en fin de
      séjour si l&#39;état des lieux est respecté).<br>
      Une caution de 150 euros pour le ménage du gîte et cuisine d&#39;été vous sera
      demandée également (chèque restitué en fin de séjour si non nécessaire).<br><br>

      Taxe de séjour en sus.<br>
      La remise des clés se fera sur place par la propriétaire à votre arrivée, une fois
      l&#39;intégralité du séjour, cautions et taxe payés.</p> <br><br><br>
</div>
</div>
</html>
<app-footer></app-footer>
