<app-header></app-header>
<div class="back">

  <div class="present">
<p>Située au pied des Cévennes, la commune de Molières-sur-Cèze vous accueille dans un magnifique
  panorama de verdure composé de forêts de pins, de cèdres et de châtaigneraies. <br>
  C’est un village cévenol paisible et agréable avec de nouveaux sentiers de randonnée fléchés qui sont
  à disposition sur la commune où l’on passe un séjour inoubliable !<br><br>

  La région regorge de magnifiques sites à explorer, à visiter, des promenades ou randonnées, chaque
  village est une jolie découverte, à la frontière de 3 départements : Gard, Ardèche, Lozère. Les rebords
  de la Cèze offrent guinguettes, baignades ou activités canoe …<br>
  Une multitude d’activités s’offrent a vous:<BR>

– La grotte de la Cocalière (10 minutes en voiture) une des 3 plus belle grotte de France et bien d’autres encore : la grotte de la Salamandre, la grotte Chauvet 2 ornée du paléolithique, la grotte de Trabuc ….<BR>

– Barjac, Vallon Pont D’Arc (30 minutes), les gorges de l’Ardèche, Aiguèze, Montclus, La Roque sur Cèze et d’autres plus beaux villages de France …<BR>

– Anduze, ses poteries et la bambouseraie (jardin exotique unique en Europe), le vélo rail et le Train à vapeur des Cévennes (40 min en voiture)<BR>

– Le Pont du Gard et son musée, le charmant duché d’Uzès et son cœur de cité, très touristique (40 minutes en voiture)<BR>

– Alès, ses plages, ses monuments et son centre ville, ses halles, son Pole mécanique (circuit vitesse, karting, rallye) (20 min en voiture)<BR>

– NIMES et sa cité romaine ( arènes, maison carré, tour magne, musée de la romanité… 1h en voiture)<BR>

- les cascades du Sautadet ou les Concluses de Lussan<BR>

– la Camargue, Aigues Mortes, Le Grau du Roi et ses plages (1h30 en voiture)<BR>

– sans oublier de nombreuses guinguettes sur les bords de la Cèze où passer d’excellents moments<BR>

Ne sont qu’une toute petite partie des nombreuses possibilités qu’offre la région, sans compter de très nombreuses randonnées et des paysages magnifiques.<BR>

Je tiens à votre disposition de nombreuses brochures et livres pour profiter au maximum de cette magnifique et riche région du Gard.<br><br>

  <img class="pont" [src]="pont"><br>
  <img class="grotte" [src]="grotte" ><br>

  Des sites magnifiques : Vallon Pont D’Arc et les gorges de l’Ardèche, Aiguèze et Montclus, charmants
  villages médiévaux labellisés, Plus beaux Villages de France, Le Pont du Gard, Uzès, La Bambouseraie,
  le grand site d’Aven d’Orgnac, Dinopédia Parc, le Musée du bonbon Haribo, toute la Camargue et les
  plages à 1h30, de nombreux chateaux : Portes, Aujac, Castrum d’Allègre, château des Roure,…<br><br>

  <img class="valon" [src]="valon" ><br>
  <img class="Aigues" [src]="aigue"><br>
  <img class="Duche" [src]="duche" ><br>


  Nombreux villages où flaner est un plaisir : Saint Ambroix, Barjac, Génolhac, des villages médiévaux à
  découvrir, Allègre les Fumades (son casino et ses thermes), Anduze, St Jean du Gard, Alès son centre
  ville, ses halles et sa mine témoin, Vézénobres, Lussan village médiéval perché et les gorges des
  Concluses, Les Vans et son marché très réputé ….<br><br>


  <img class="gard" [src]="gard"><br>
  <img class="rando" [src]="rando"><br>

  Des promenades dans le bois de Paîolive,<br> La Roque-sur-Cèze et les Cascades du Sautadet,
  Goudargues, “La petite Venise du Gard”, ….<br><br>

  <img class="grau" [src]="grau"><br>

  De nombreuses brochures sont à votre disposition dans le gîte.<br>
  C’est aussi tous les produits du terroir, les vignobles, et tant de choses à découvrir qu’il vous faudra
  revenir !<br>
  Comme moi, vous ne voudrez plus quitter la région !</p><br><br><br>
  </div>
</div>
<app-footer></app-footer>
