<app-header></app-header>
<div class="back">
  <div class="present">

    <p class="texte"> TARIFS {{ anio }} </p>


<p>
  Les demandes de réservations se font par mail lemas.surlerocher@gmail.com ou par téléphone en
  direct avec la propriétaire.<br>
  Le paiement peut se faire par chèque, virement ou espèces.<br>
  Un acompte de 30% sera demandé pour la confirmation de la réservation. Le solde ainsi que les
  cautions et taxes devront être réglés avant la remise des clés.<br></p>

<p class="gs">SEMAINE</p><p> du samedi 17h au Samedi 10h (7 nuits)</p>
<p class="g">Juillet – Août 1490 euros <br>
Mai – juin et septembre – Octobre 890 euros<br>
Novembre à Avril 690 euros</p><br>

<p class="gs">MID WEEK Du lundi 11h au vendredi 11h (4 nuits)</p>
<p class="g">Mai – Juin et Septembre – octobre 650 euros <br>
Novembre à Avril 490 euros</p>

<p class="gs">WEEK END du vendredi 16h au dimanche 16h (2 nuits)</p>
<p class="g"> Mai – Juin et Septembre – Octobre 350 euros <br>
  Novembre à avril 290 euros</p>

<p class="gs">Taxe de séjour/pers/nuit</p><p>en supplément</p>



<iframe class="gmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d871.4147629114341!2d4.141902231365304!3d44.26932126428502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b45ec867e84cff%3A0x41beea0985f6adb2!2zNCBMdXhlcmnDqHJlLCAzMDQxMCBNb2xpw6hyZXMtc3VyLUPDqHpl!5e1!3m2!1sfr!2sfr!4v1689340721043!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br><br><br><br><br>


  </div>
</div>
<app-footer></app-footer>

