<app-header></app-header>

<html>

<div class="back">

<div class="present">
<div class="slideshow-container">


 <p class="texte">Bienvenue au Mas sur le Rocher</p><br>
  <p>Géraldine vous accueille dans un ancien mas cévenol de plus de 200
    ans, avec le charme des vieilles pierres et des poutres apparentes, ainsi
    qu&#39;une magnifique vue sur les montagnes cévenoles et le Château de
    Montalet, dans le quartier Gammal de Molières sur Cèze.<br>
    En 2020, je suis tombée sous le charme de cette propriété et de cette
    magnifique région, si riche en découvertes de toutes sortes. Si vous
    appréciez le calme, la nature, les visites, les randonnées, vous serez
    enchantés et chacun y trouvera son bonheur.<br> Je serai enchantée de
    vous faire partager la joie de séjourner dans un cadre si enchanteur.<br></p>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img [src]="ext4" style="width: 100%;">
    <div class="text">Facade</div>
  </div>


  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img [src]="ext3" style="width:100%">
    <div class="text">Logia</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img [src]="vueM" style="width:100%">
    <div class="text">Vue de la maison</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img [src]="facade" style="width:100%">
    <div class="text">Facade</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img [src]="piscine" style="width:100%">
    <div class="text">Piscine</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img [src]="vueTE" style="width:100%">
    <div class="text">Vue depuis la terrasse d'été</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img [src]="vueL" style="width:100%">
    <div class="text">Boulodrome</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img [src]="pano" style="width:100%">
    <div class="text">Vue d'ensemble</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img [src]="allee" style="width:100%">
    <div class="text">Allée</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img [src]="terraceE" style="width:100%">
    <div class="text">Terrasse d'été</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img [src]="cuisineE" style="width:100%">
    <div class="text">Cuisine d'été</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img [src]="terraceEN" style="width:100%">
    <div class="text">Terrasse d'été la nuit</div>
  </div>


  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  </div>
  <br>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
    <span class="dot" onclick="currentSlide(7)"></span>
    <span class="dot" onclick="currentSlide(8)"></span>
    <span class="dot" onclick="currentSlide(10)"></span>
    <span class="dot" onclick="currentSlide(11)"></span>
    <span class="dot" onclick="currentSlide(12)"></span>
    <span class="dot" onclick="currentSlide(13)"></span>
  </div>

  <p>Découvrez la paisible commune de Molières-sur-Cèze où se niche le
    Mas sur le Rocher dans une impasse peu passante, au calme mais non
    isolée, bénéficiant d&#39;un magnifique panorama de verdure et de nombreux
    sentiers de randonnées fléchées directement accessibles depuis le
    village.<br>

    Idéalement situé dans le nord du Gard, proche de l&#39;Ardèche et de la
    Lozère, la région regorge de très beaux sites à explorer, de promenades
    et d&#39;activités à pratiquer seul(e), entre ami(e)s ou en famille, dans 3
    superbes départements. Sans oublier tous les produits du terroir, les
    marchés de producteurs locaux, les très agréables guinguettes typiques
    au bord de la Cèze et tant de choses encore qu&#39;il vous faudra revenir ...<br>
    Durant votre séjour, vous pourrez profiter d’un charmant gîte classé 3
    étoiles *** par le label du Ministère Chargé du Tourisme Etoiles de
    France, entièrement équipé et aménagé pour votre plus grand confort,
    ainsi qu’à des parties extérieures comprises dans la location (jardin
    ensoleillé avec sa piscine, son pool house, une cuisine d’été entièrement
    équipée et un barbecue, une grande terrasse d’été aménagée avec
    salon de jardin et grande table pour vos repas en extérieur avec une
    superbe vue sur la piscine et les montagnes alentour, ainsi qu’un
    boulodrome attenant de 12X4m et un parking privé pour 2 voitures).<br> La
    propriété offre un seul gîte donc vous n’aurez pas à partager l’espace
    extérieur avec d’autres hôtes.<br>
    OUVERT TOUTE L’ANNEE
    <!--En 2020, je suis tombée sous le charme de cette propriété et de cette
  magnifique région, si riche en découvertes de toutes sortes.<br> Si vous
  appréciez le calme, la nature, les visites, les randonnées, vous serez
  enchantés et chacun y trouvera son bonheur.<br>
  Découvrez la paisible commune de Molières-sur-Cèze où se niche le
  Mas sur le Rocher dans une impasse peu passante, au calme mais non
  isolée, bénéficiant d&#39;un magnifique panorama de verdure et de nombreux
  sentiers de randonnées fléchées directement accessibles depuis le
  village.<br><br>
  Idéalement situé dans le nord du Gard, proche de l&#39;Ardèche et de la
  Lozère, la région regorge de très beaux sites à explorer, de promenades
  et d&#39;activités à pratiquer seul(e), entre ami(e)s ou en famille, dans 3
  superbes départements. Sans oublier tous les produits du terroir, les
  marchés de producteurs locaux, les très agréables guinguettes typiques
  au bord de la Cèze et tant de choses encore qu&#39;il vous faudra revenir ...<br>
  Durant votre séjour, vous pourrez aussi profiter du grand jardin
  ensoleillé avec sa piscine et son pool house pour la sieste ou après une
  intéressante journée de visites ou de randonnée , de la cuisine d&#39;été
  équipée (avec lave-vaisselle) , son barbecue et sa grande terrasse
  aménagée pour vos repas et la détente ou un apéritif bien mérité
  confortablement installé dans le salon de jardin, tout en profitant d&#39;une
  magnifique vue donnant sur les montagnes alentour...&quot;<br><br>
  Je vous attends pour un séjour très agréable et riche en découvertes...-->
  <br><img class="pano" [src]="pano"><br>
  Ici, les jours s’écoulent paisiblement et chacun trouvera son bonheur,
  soit par des activités diverses ou des découvertes de la région et de tous
  ses trésors, ou par une journée de farniente bien méritée… avant une
  soirée douce sous le ciel étoilé classé des Cévennes, sur la terrasse
  d’été à l’ambiance guinguette …<br>
  Je vous attends pour un séjour très agréable et riche en découvertes…<br><br>

  photos supplémentaires et renseignements sur demande sur adresse
  mail : lemas.surlerocher@gmail.com</p><br><br>
</div>
</div>
</html>
<app-footer></app-footer>
